<%= flash[:message] %>

<h2> Login </h2>

<%= form_for User.new, :url => "/login" do |f| %>
  <%= f.label "Email" %>
  <%= f.text_field :email %><br>

  <%= f.label "Password" %>
  <%= f.text_field :password %><br>

  <%= f.submit "Submit" %><br>
<% end %><br>

<%= link_to('Log in with Google!', '/auth/google_oauth2') %>
