<%= render :layout => 'layouts/12_col_view', :locals => {:header => "Welcome to Nametag", :description => "Sign up/login in to keep track of your contacts & events"} do %>

  <h2> Edit Access for <%= "#{@user.name.capitalize}" %> </h2>

  <%= form_for @user do |f| %>
    <%= f.label "Access Level:" %>
    <%= f.select(:admin_level, [0, 1, 2]) %><br>

    <%= f.submit "Submit", :class => "btn btn-primary" %><br>
  <% end %>

<% end %>
