<%= render partial: "layouts/error_message", locals: {thing: @event} %>
      <%= form_for @event do |f| %>

          <%= f.label "Event Name", :class => "lb-lg" %>
          <%= f.text_field :name, :class => "form-control" %><br>

          <%= f.label "Event Date", :class => "lb-lg" %><br>
          <p>Reminder: Check the events homepage to ensure that today's event wasn't already created.</p>
          <%= f.date_select :date, {}, {class: "custom-select"} %><br><br>


          <%= f.label "Staff Count", :class => "lb-lg" %>
          <%= f.text_field :staff_count, :class => "form-control", placeholder: "# of staff" %><br>

          <%= f.label "Guest Count", :class => "lb-lg" %>
          <%= f.text_field :guest_count, :class => "form-control", placeholder: "# of guests" %><br>


        <%= f.label "Attendees:", :class => "lb-lg" %><br>

      <% Contact.access(@user_admin_level).each_with_index do |c,i| %>
          <div class="form-check form-check-inline">
            <%= label_tag "event_contact_ids_#{c.id}", class: "form-check-label" do %>
                <%= label_tag "event_contact_ids_#{c.id}", c.name %>
                <%= check_box_tag "event[contact_ids][]", c.id, false, {id: "event_contact_ids_#{c.id}", class: "form-check-input"} %>
                <span class="form-check-sign">
                 <span class="check"></span>
                </span>
              <% end %>
            </div>
          <% end %><br><br>



    <%= f.submit "Submit", class: "btn btn-primary" %><br>

<% end %>
