<%= render partial: "layouts/error_message", locals: {thing: @event} %>
      <%= form_for @event do |f| %>

          <%= f.label "Event Name", :class => "lb-lg" %>
          <%= f.text_field :name, :class => "form-control" %><br>

          <%= f.label "Event Date", :class => "lb-lg" %><br>
          <p>Reminder: Check the events homepage to ensure that today's event wasn't already created.</p>
          <%= f.date_select :date, {}, {class: "custom-select"} %><br><br>


          <%= f.label "Staff Count", :class => "lb-lg" %>
          <%= f.text_field :staff_count, :class => "form-control", placeholder: "# of staff" %><br>

          <%= f.label "Guest Count", :class => "lb-lg" %>
          <%= f.text_field :guest_count, :class => "form-control", placeholder: "# of guests" %><br>


        <% if @event.contacts.length > 0 %>
          <div class="attendees">
              <%= f.label "Attendees:", :class => "lb-lg" %><br>
              <% @event.contacts.map do |c| %>
                <%= c.name %>
                <a href="#" class="more-button" data-id="<%= c.id %>"><i class="material-icons">info</i></a><br>
              <% end %>

              <%= f.fields_for :contacts do |ff| %>
                <%= ff.text_field :name, list: "contacts_autocomplete" %>
                <datalist id="contacts_autocomplete">
                <% @contacts.each do |c| %>
                  <option value="<%= c.name %>">
                <% end %>
                </datalist>
              <% end %>

              <a href="#" class="more-button" data-id="</%= b.value %>"><i class="material-icons">info</i></a>
              <a href="#" class="add-button" data-id="</%= b.value %>"><i class="material-icons">add_circle</i></a><br>
              <i>Begin typing to find a new contact.</i>
          </div>
        <% end %>





      <div id="more-div"><%= f.label "More Contact Info", :class => "lb-lg" %><br><i>Drill down by selecting any info icon on the page</i><br></div>

    <%= f.submit "Submit", class: "btn btn-primary" %><br>

<% end %>
<%= javascript_include_tag "api" %>
