

<h2> Create a New Event </h2>

<%= form_for @event do |f| %>
  <%= f.label "Event Name" %>
  <%= f.text_field :name %><br>

  <%= f.label "Event Date" %>
  <%= f.date_select :date %><br>

  <%= f.label "Attendees:" %><br>
  <%= f.collection_check_boxes :contact_ids, Contact.all, :id, :name do |b| %>
    <%= b.check_box %> <%= b.label  %><br>
    <% end %>


  <%= f.submit "Submit" %><br>
<% end %>
