<%= render partial: "layouts/error_message", locals: {thing: @event} %>
<%= csrf_meta_tag %>
<div class="row">
  <div class="col-md-12">
      <%= form_for @event, html: {class: 'main-details'} do |f| %>

          <%= f.label "Event Name", :class => "lb-lg" %>
          <%= f.text_field :name, :class => "form-control" %><br>

          <%= f.label "Event Date", :class => "lb-lg" %><br>
          <p>Reminder: Check the events homepage to ensure that today's event wasn't already created.</p>
          <%= f.date_select :date, {}, {class: "custom-select"} %><br><br>


          <%= f.label "Staff Count", :class => "lb-lg" %>
          <%= f.text_field :staff_count, :class => "form-control", placeholder: "# of staff" %><br>

          <%= f.label "Guest Count", :class => "lb-lg" %>
          <%= f.text_field :guest_count, :class => "form-control", placeholder: "# of guests" %><br>
    </div>
  </div>
  <div class="row justify-content-center">
          <%= f.submit "Submit", class: "btn btn-primary" %><br>
        <% end %>

          <% if !!@event.try(:id) %>
            <%= button_to "Delete Event", "#{event_path(@event)}", :class => "btn btn-primary", :method => :delete %>
          <% end %>

  </div>








<%= javascript_include_tag "events" %>
