<%= render partial: "layouts/error_message", locals: {thing: @event} %>
      <%= form_for @event do |f| %>

          <%= f.label "Event Name", :class => "lb-lg" %>
          <%= f.text_field :name, :class => "form-control" %><br>

          <%= f.label "Event Date", :class => "lb-lg" %><br>
          <%= f.date_select :date, :class => "form-control" %><br><br>

        <%= f.label "Attendees:", :class => "lb-lg" %><br>
        <%= f.collection_check_boxes :contact_ids, Contact.active, :id, :name do |b| %>
          <div class="form-check form-check-inline">
            <%= b.label(class: "form-check-label") do %>
              <%= b.label %>
              <%= b.check_box(class: "form-check-input") %>
              <span class="form-check-sign">
               <span class="check"></span>
              </span>
            <% end %>
          </div>
        <% end %><br><br>

        <%= f.submit "Submit", class: "btn btn-primary" %><br>
      <% end %>
