<%= render :layout => 'layouts/12_col_view', :locals => {:header => "Edit an Event", :description => "Update an event's properties"} do %>
  <%= render partial: "event_form", locals: {event: @event} %>
<br>
  <div class="row" id="attendees-section">
    <div class="col-md-8">
      <%= form_for @event, html: {class: 'add-attendees'} do |f| %>
        <h3 class="card-title">Attendees</h3>
          Begin typing to find a new contact to add.<br>
         <%= f.fields_for :contacts do |ff| %>
           <%= ff.text_field :name, class: "form-control", list: "contacts_autocomplete" %>
           <datalist id="contacts_autocomplete">
           <% @contacts.each do |c| %>
             <option data-id="<%= c.id %>" value="<%= c.name %>"></option>
           <% end %>
           </datalist>
         <% end %>
         <a href="#" class="lookup-button"><i class="material-icons">info</i></a>
         <a href="#" class="add-button" data-id="<%= params[:id] %>"><i class="material-icons">add_circle</i></a><br>

         <div id="attendees">
        <% if @event.contacts.length > 0 %>
          <% @event.contacts.map do |c| %>
            <div id="<%= "small_button_" + c.id.to_s %>" class="btn btn-primary btn-sm"><%= c.name %>
            <a href="#" class="more-button" data-id="<%= c.id %>"><i class="material-icons inverse">info</i></a>
            <a href="#" class="remove-button" data-contact-id="<%= c.id %>" data-event-id="<%= params[:id] %>"><i class="material-icons inverse">remove_circle</i></a>
            </div>
          <% end %>
        <% end %>
        <br>
    </div>
    </div>
    <div id="info-container" class="col-md-4 justify-content-center">
      <h3 class="card-title">More Contact Info</h3>
        <div id="more-div">
          Drill down by selecting any info icon on the page
        </div>
    </div>
    <% end %>
  </div>
<% end %>
