<%= render :layout => 'layouts/12_col_view', :locals => {:header => "Edit an Event", :description => "Update an event's properties"} do %>
  <%= render partial: "event_form", locals: {event: @event} %>

<div id="attendees-section">
    <p> Add attendees to this event </p>
  <div class="row justify-content-center">
    <div class="col-md-8 justify-content-center">
      <%= form_for @event, html: {class: 'add-attendees'} do |f| %>
        <%= f.label "Attendees", :class => "lb-lg" %><br>
          Begin typing to find a new contact to add.<br>
         <%= f.fields_for :contacts do |ff| %>
           <%= ff.text_field :name, list: "contacts_autocomplete" %>
           <datalist id="contacts_autocomplete">
           <% @contacts.each do |c| %>
             <option data-id="<%= c.id %>" value="<%= c.name %>"></option>
           <% end %>
           </datalist>
         <% end %>
         <a href="#" class="lookup-button"><i class="material-icons">info</i></a>
         <a href="#" class="add-button" data-id="<%= params[:id] %>"><i class="material-icons">add_circle</i></a><br>

         <div id="attendees">
        <% if @event.contacts.length > 0 %>
          <% @event.contacts.map do |c| %>
            <div id="<%= "small_button_" + c.id.to_s %>" class="btn btn-primary btn-sm"><%= c.name %>
            <a href="#" class="more-button" data-id="<%= c.id %>"><i class="material-icons inverse">info</i></a>
            <a href="#" class="remove-button" data-contact-id="<%= c.id %>" data-event-id="<%= params[:id] %>"><i class="material-icons inverse">remove_circle</i></a>
            </div>
          <% end %>
        <% end %>
    </div>
    </div>
    <div id="more-div" class="col-md-4 justify-content-center">
      <%= f.label "More Contact Info", :class => "lb-lg" %><br>
      Drill down by selecting any info icon on the page
    </div>
    <% end %>
  </div>
<% end %>
</div>
