<%= render :layout => 'layouts/12_col_view', :locals => {:header => ("View Event for Contact #{params[:contact_id]}" if !!params[:contact_id]) || "View All Events", :description => "Coming soon: feature to sort by type of event"} do %>

  <div class="row justify-content-end">
        <%= button_to "Create New Event", new_event_path , :class => "btn btn-primary", :method => :get %>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
        <thead class="">
          <tr>
              <th> Event Name </th>
              <th> Event Date </th>
              <th> Students </th>
              <th> Guests </th>
              <th> Staff </th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= link_to event.name, event_path(event) %> </td>
              <td><%= display_date event %></td>
              <td><%= link_to event.contacts_count, event_contacts_path(event) %></td>
              <td><%= event.guest_count %></td>
              <td><%= event.staff_count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="row justify-content-center">
      <%= button_to "Create New Event", new_event_path , :class => "btn btn-primary", :method => :get %>
    </div>

<% end %>
