<h2> Create a New Event </h2>

<%= form_for Event.new do |f| %>
  <%= f.label "Event Name" %>
  <%= f.text_field :name %><br>

  <%= f.label "Event Date" %>
  <%= f.date_select :date %><br>

  <%= f.submit "Create Event" %><br>
<% end %>
