<div class="row">
  <%= render :layout => 'events/card_layout', :locals => {header: "Event Info", icon_here: "info"} do %>


          <label>Name:</label> <%= @event.name %><br>
          <label>Date:</label> <%= display_date(@event) %><br>
          <label>Student Count:</label> <%= @event.contacts_count %><br>
          <label>Guest Count:</label> <%= @event.guest_count %><br>
          <label>Staff Count:</label> <%= @event.staff_count %>
  <% end %>
  <%= render :layout => 'events/card_layout', :locals => {header: "Attendee List", icon_here: "how_to_reg"} do %>
          <% @event.contacts.each do |contact| %>
            <%= link_to contact.name, contact_path(contact) %><br>
          <% end %>
  <% end %>
</div>

<div class="row justify-content-center">
  <%= button_to "Create Contact For Event", new_event_contact_path(@event), :method => :get, :class => "btn btn-primary"  %>
  <%= button_to "Edit Event Properties", edit_event_path(@event), :method => :get, :class => "btn btn-primary"  %>
  <%= button_to "Detailed Contact List", event_contacts_path(@event), :method => :get, :class => "btn btn-primary"  %>
</div>
