<%= render :layout => 'layouts/12_col_view', :locals => {:header => "View an Event", :description => "View all of the data for an event"} do %>
  <h2> Event Info </h2>

  <label>Name:</label> <%= @event.name %><br>
  <label>Date:</label> <%= @event.date_human %><br>
  <label>Student Count:</label> <%= @event.contacts.count %><br>
  <label>Guest Count:</label> <%= @event.contacts_events.sum(:guests) %><br>
  <label>Attendees:</label><br>
    <% @event.contacts.each do |contact| %>
    <%= link_to contact.name, contact_path(contact) %><br>
    <% end %><br>


  <%= button_to "Edit Event", edit_event_path(@event), :method => :get, :class => "btn btn-primary"  %>
  <%= button_to "View Detailed Contacts", event_contacts_path(@event), :method => :get, :class => "btn btn-primary"  %>
  <%= button_to "View All Events", events_path, :method => :get, :class => "btn btn-primary" %>
<% end %>
