<h2> Event Info </h2>

<label>Name:</label> <%= @event.name %><br>
<label>Date:</label> <%= @event.date_human %><br>
<label>Attendees:</label>
  <%= @event.contacts.each do |contact| %>
  <% link_to contact.name, contact_path(contact) %><br>
  <% end %>


<%= button_to "Edit Event", edit_event_path(@event), :method => :get  %>
<%= button_to "View All Events", events_path, :method => :get %>
