<%= render partial: "layouts/error_message", locals: {thing: @contact} %>


<%= form_for @contact do |f| %>
  <%= f.label "Contact Name", class: "lb-lg" %>
  <%= f.text_field :name, class: "form-control" %><br>

  <%= f.label "Email", class: "lb-lg" %>
  <%= f.text_field :email, class: "form-control"  %><br>

  <div class="form-check form-check-inline">
    <%= f.label "gender_female", class: "form-check-label" do %>
      <%= f.label "Female", class: "lb-lg" %>
      <%= f.radio_button :gender, "Female", class: "form-check-input" %>
      <span class="circle">
        <span class="check"></span>
      </span>
    <% end %>
  </div>
<div class="form-check form-check-inline">
    <%= f.label "gender_male", class: "form-check-label" do %>
      <%= f.label "Male", class: "lb-lg" %>
      <%= f.radio_button :gender, "Male", class: "form-check-input" %>
      <span class="circle">
        <span class="check"></span>
      </span>
    <% end %>
  </div><br>

  <%= f.label "user_id", class: "lb-lg" %><br>
  <%= f.collection_select :user_id, User.same_level(@user_admin_level), :id, :name, {}, {class: "custom-select"} %><br><br>

  <%= f.label "Phone Number", class: "lb-lg" %>
  <%= f.text_field :phone_number, class: "form-control" %><br>

  <%= f.label "School Status", class: "lb-lg" %><br>
  <%= f.select :school_status, ["Exchange", "Freshmen", "Sophomore", "Junior", "Senior", "Masters", "PhD", "Post doc", "Visiting Scholar", "Family", "Alumni"], {include_blank: true}, {class: "custom-select"} %><br><br>

  <%= f.label "Messenger Id", class: "lb-lg" %>
  <%= f.text_field :messenger_id, class: "form-control" %><br>

  <%= f.label "Major", class: "lb-lg" %>
  <%= f.text_field :major, class: "form-control" %><br>

  <%= f.label "Country", class: "lb-lg" %>
  <%= f.text_field :country, class: "form-control" %><br>

  <%= f.label "Last Day In Davis", class: "lb-lg" %><br>
  <%= f.date_select :last_day, {include_blank: true}, {class: "custom-select"} %><br><br>

  <%= f.label "Birthday", class: "lb-lg" %><br>
  <%= f.date_select :birthday, {discard_year: true, include_blank: true}, {class: "custom-select"} %><br><br>

  <%= f.label "Unsubscribed", class: "lb-lg" %><br>

  <div class="form-check form-check-inline">
      <%= f.label "unsubscribed_true", class: "form-check-label" do %>
        <%= f.label "True", class: "lb-lg" %>
        <%= f.radio_button :unsubscribed, true, {class: "form-check-input"} %>
        <span class="circle">
          <span class="check"></span>
        </span>
      <% end %>
    </div>
    <div class="form-check form-check-inline">
        <%= f.label "unsubscribed_false", class: "form-check-label" do %>
          <%= f.label "False", class: "lb-lg" %>
          <%= f.radio_button :unsubscribed, false, {class: "form-check-input"} %>
          <span class="circle">
            <span class="check"></span>
          </span>
        <% end %>
    </div><br><br>


  <%= f.hidden_field :event_id, value: @event_id %>

  <%= f.submit "Submit", class: "btn btn-primary" %><br>
<% end %>
