<%= render :layout => 'layouts/12_col_view', :locals => {:header => ("View Contacts"), :description => "Use the buttons below to change viewing options"} do %>
  <%= render :partial => "layouts/flash_message" %>
<%= form_for @contact, :html => {:class => 'container-fluid'} do |f| %>
  <div class="row">
    <div class="col-md-4">
      <h3>Find By Name</h3>
        <div class="input-group">
              <%= f.text_field :name, class: "form-control", list: "contacts_autocomplete" %>
              <datalist id="contacts_autocomplete">
              <% Contact.same_level(@user_admin_level).each do |c| %>
                <option data-id="<%= c.id %>" value="<%= c.name %>"></option>
              <% end %>
              </datalist>
            <span class="input-group-btn">
            <%= link_to contacts_path, :id => "name", :class => "btn btn-primary btn-stubby" do %> <i class="material-icons">search</i> <% end %>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Find By Staff</h3>
        <div class="input-group">
            <%= f.text_field :email, class: "form-control", list: "staff_autocomplete" %>
            <datalist id="staff_autocomplete">
            <% User.same_level(@user_admin_level).each do |u| %>
              <option data-id="<%= u.id %>" value="<%= u.email %>"></option>
            <% end %>
            </datalist>
          <span class="input-group-btn">
            <%= link_to contacts_path, :id => "staff", :class => "btn btn-primary btn-stubby" do %> <i class="material-icons">search</i>  <% end %>
          </span>
        </div>
      <br></div>
<br>
    <div class="col-md-4">
        <%= link_to new_contact_path, :id => "create", :class => "btn btn-primary btn-block" do %>
          <i class="material-icons">person_add</i> New Contact
        <% end %>
        <%= link_to contacts_path, :id => "unclaimed", :class => "btn btn-primary btn-block" do %>
          <i class="material-icons">help</i> Unclaimed
        <% end %>
        <%= link_to contacts_path, :id => "all", :class => "btn btn-primary btn-block" do %>
          <i class="material-icons">public</i> All Contacts
        <% end %>
        <%= link_to contacts_path, :id => "recently_updated", :class => "btn btn-primary btn-block" do %>
          <i class="material-icons">access_time</i> Recently Updated
        <% end %>
      </div>
    </div>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h3> Listed Contacts </h3>
    <div class="table-responsive">
      <table class="table table-hover">
          <thead class="">
            <tr>
                <th><%= "Name" %></th>
                <th><%= "Action" %></th>
                <th><%= "Staff" %></th>
                <th><%= "Email" %></th>
                <th><%= "Gender" %></th>
            </tr>
          </thead>
          <tbody>
            <% if !!@contacts %>
              <% @contacts.each do |contact| %>
                <tr>
                  <td><%= contact.name %></td>
                  <td>
                    <%= link_to edit_contact_path(contact) do %>
                      <i class="material-icons">edit</i>
                    <% end %>
                    <%= link_to contact_path(contact) do %>
                      <i class="material-icons">zoom_in</i>
                    <% end %>
                  </td>
                  <td><%= contact.user_name %></td>
                  <td><%= contact.email %></td>
                  <td><%= contact.gender %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "contacts" %>
