<%= render :layout => 'layouts/12_col_view', :locals => {:header => (c_index_header(params)), :description => "Use the buttons below to change viewing options"} do %>

  <%= render :partial => "layouts/flash_message" %>
  <div class="row justify-content-end">
    <%= link_to contacts_path, :class => "btn btn-primary" do %>
      <i class="material-icons">people</i>
    <% end %>
    <%= link_to contacts_path(:display_all => true), :class => "btn btn-primary" do %>
      <i class="material-icons">public</i>
    <% end %>
    <%= link_to c_button_link(params), :class => "btn btn-primary" do %>
      <i class="material-icons">person_add</i>
    <% end %>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
        <thead class="">
          <tr>
              <th><%= "Name" %></th>
              <th><%= "Staff" %></th>
              <th><%= "Email" %></th>
              <th><%= "Gender" %></th>
          </tr>
        </thead>
        <tbody>
            <% @contacts.each do |contact| %>
              <tr>
                <td><%= link_to contact.name, contact_path(contact) %></td>
                <td><%= contact.user_name %></td>
                <td><%= contact.email %></td>
                <td><%= contact.gender %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center">
      <%= button_to "My Contacts", contacts_path, :class => "btn btn-primary", :method => :get %>
       <%= form_tag(contacts_path, method: "get") do %>
         <%= hidden_field_tag(:display_all, true) %>
        <%= submit_tag "All Contacts", class: "btn btn-primary" %>
      <% end %>
      <%= button_to c_button_text(params), c_button_link(params), :class => "btn btn-primary", :method => :get %>
    </div>
<% end %>
