<div class="row">

  <%= render :layout => 'contacts/card_layout', :locals => {header: "Basic Bio"} do %>
      <label>Name:</label> <%= @contact.name %><br>
      <label>Gender:</label> <%= @contact.gender || "N/A" %><br>
      <label>Staff:</label> <%= @contact.user_name || "N/A" %><br>
      <label>School Status:</label> <%= @contact.school_status %><br>
  <% end %>

  <%= render :layout => 'contacts/card_layout', :locals => {header: "Contact Info"} do %>
        <label>Phone #:</label> <%= @contact.phone_number || "N/A" %><br>
        <label>Messenger:</label> <%= @contact.messenger_company || "N/A" %><br>
        <label>Messenger ID:</label> <%= @contact.messenger_id || "N/A" %><br>
        <label>Email:</label> <%= @contact.email || "N/A" %><br>
  <% end %>


    <%= render :layout => 'contacts/card_layout', :locals => {header: "Other Facts"} do %>
        <label>Major:</label> <%= @contact.major || "N/A" %><br>
        <label>Home Country:</label> <%= @contact.country || "N/A" %><br>
        <label>Birthday:</label> <%= birthday_human @contact || "N/A" %><br>
        <label>Attendance Count:</label> <%= @contact.events.count %><br>
  <% end %>

</div>


<div class="row justify-content-center">
  <%= button_to "Edit Contact", edit_contact_path(@contact), :class => "btn btn-primary", :method => :get  %>
  <%= button_to "View Attended Events", contact_events_path(@contact), :class => "btn btn-primary", :method => :get  %>
  <%= button_to "View All Contacts", contacts_path, :class => "btn btn-primary", :method => :get %>
</div>
