<h2> Contact Info </h2>

<%= @contact.name %><br>
<%= @contact.email %><br>
<%= @contact.gender %><br>
<%= @contact.user_id %><br>
<%= @contact.phone_number %><br>
<%= @contact.school_status %><br>
<%= @contact.messenger_company %><br>
<%= @contact.messenger_id %><br>
<%= @contact.major %><br>
<%= @contact.country %><br>
<%= @contact.birthday_human %><br>
