<h2> Contact Info </h2>

<label>Name:</label> <%= @contact.name %><br>
<label>Email:</label> <%= @contact.email %><br>
<label>Gender:</label> <%= @contact.gender %><br>
<label>Staff:</label> <%= @contact.user.name %><br>
<label>Phone Number:</label> <%= @contact.phone_number %><br>
<label>School Status:</label> <%= @contact.school_status %><br>
<label>Messenger:</label> <%= @contact.messenger_company + "/" + @contact.messenger_id %><br>
<label>Major:</label> <%= @contact.major %><br>
<label>Home Country:</label> <%= @contact.country %><br>
<label>Birthday:</label> <%= @contact.birthday_human %><br><br>

<p><%= link_to "Edit Contact", edit_contact_path(@contact) %></p>
<p><%= link_to "View All Contacts", contacts_path %></p>
